#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;

  &.active {
    margin-left: -250px;
  }
}

.sidebar {
  background: lighten($black, 7%);
  color: $gray-600;

  &-header {
    padding: 20px;
  }

  &.ul.components {
    padding: 20px 0;
  }

  &-link {
    display: block;
    padding: 10px;
    font-size: 1.1em;
    text-decoration: none;
    color: $gray-300;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
      color: $text-muted;
      background: rgba(255, 255, 255, .05);
    }

    &.active {
      color: $blue;
      background: rgba(255, 255, 255, .05);
    }
  }
}